<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ "assets/apple-touch-icon-57x57.png" | prepend: site.baseurl }}" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "assets/apple-touch-icon-114x114.png" | prepend: site.baseurl }}" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "assets/apple-touch-icon-72x72.png" | prepend: site.baseurl }}" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "assets/apple-touch-icon-144x144.png" | prepend: site.baseurl }}" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ "assets/apple-touch-icon-120x120.png" | prepend: site.baseurl }}" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ "assets/apple-touch-icon-152x152.png" | prepend: site.baseurl }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ "assets/favicon-32x32.png" | prepend: site.baseurl }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ "assets/favicon-16x16.png" | prepend: site.baseurl }}" />
<meta name="application-name" content="Grain"/>
<meta name="msapplication-TileColor" content="#5C6A00" />
<meta name="msapplication-TileImage" content="{{ "assets/mstile-144x144.png" | prepend: site.baseurl }}" />